<div class="todos-wrapper">

    <div class="container">
      <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>   

      <!-- <div class="todo-item">
        <div class="check-box">
            <i class="material-icons-outlined">check</i>
        </div>
        <p class="todo-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt reprehenderit maxime libero officiis, enim eveniet dolor deserunt. Aut ad rerum hic amet nihil nisi sit expedita animi voluptatem adipisci? Qui!</p>
      </div> -->

    </div>

</div>