<div class="todos-wrapper">

    <div class="container">

      <div class="todo-item completed">
        <div class="check-box">
            <i class="material-icons-outlined">check</i>
        </div>
        <p class="todo-text">This is the todo text</p>
      </div>

      <div class="todo-item">
        <div class="check-box">
            <i class="material-icons-outlined">check</i>
        </div>
        <p class="todo-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt reprehenderit maxime libero officiis, enim eveniet dolor deserunt. Aut ad rerum hic amet nihil nisi sit expedita animi voluptatem adipisci? Qui!</p>
      </div>

    </div>

</div>