<div class="add-bookmark-wrapper container blurred-white-bg">
    <h2 class="is-bold">Add Bookmark</h2>
  
    <form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
      <div class="form-field">
        <label class="form-label">Name</label>
        <input class="text-box" type="text" ngModel [(ngModel)]="name" required minlength="3"
         name="name" placeholder="e.g. Wikipedia">
      </div>

      <div class="form-field">
        <label class="form-label">URL</label>
        <input class="text-box" type="url" ngModel [(ngModel)]="url" required
         name="url" placeholder="e.g. https://wikipedia.org">
          <p *ngIf="isValid">Enter some Text</p>
      </div>
  
  
      <div class="btns-container">
        <a class="btn" routerLink="../">Cancel</a>
        <button class="btn align-end">Create Bookmark</button>
      </div>
    </form>  
  
  </div>