<div class="add-note-wrapper container blurred-white-bg">
  <h2 class="is-bold">New Note</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-field">
      <input class="text-box" type="text" ngModel [(ngModel)]="Title" (keypress)="checker()"
       name="title" placeholder="Note title...">
        <p *ngIf="isValid">Enter a title or content</p>
    </div>

    <div class="form-field">
      <textarea class="text-area" ngModel name="content" [(ngModel)]="Content" (keypress)="checker()"
      placeholder="Note content..."></textarea>
    </div>

    <div class="btns-container">
      <a class="btn" routerLink="../">Cancel</a>
      <button class="btn align-end">Create Note</button>
    </div>
  </form>  

</div>